<title>
    <%= title %>
</title>
<h1 class="login-h1">
    <%= title %>
</h1>
<div>
    <%- messages() %>
</div>
<% if (errors) { %>
    <ul class="notice">
        <% errors.array().forEach(error=> { %>
            <li>
                <%= error.msg %>
            </li>
            <% }) %>
    </ul>
    <% } %>
        <form class="register-form" action="/account/register" method="post">
            <div>
                <label for="first-name">First Name:</label>
                <input type="text" id="f-name" name="account_firstname" required
                    value="<%= locals.account_firstname %>">
            </div>
            <div>
                <label for="last-name">Last Name:</label>
                <input type="text" id="l-name" name="account_lastname" required value="<%= locals.account_lastname %>">
            </div>
            <div>
                <label for="email">Email Address:</label>
                <input type="email" id="email" name="account_email" required value="<%= locals.account_email %>"
                    placeholder="Enter a valid email address">
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" id="password" name="account_password"
                    pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$" required>
                <span>Passwords must be at least 12 characters and contain at least 1 number, 1 capital letter and 1
                    special
                    character</span>
            </div>
            <div>
                <button type="submit">Register</button>
            </div>
        </form>